<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/favicon/favicon-16x16.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    {% include "styles.html" %}
  {% endblock head %}
</head>
<body>
  <div class="js-off-canvas-container c-off-canvas-container">
    {% include "header.html" %}

    {% block content %}
    {% endblock content %}

    {% include "footer.html" %}
  </div>

  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/app.min.js"></script>
</body>
</html>
