<nav class="navbar is-white">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ SITEURL }}">{{ SITENAME }}</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end social-icons">
      {% for title, link in LINKS %}
      <a class="navbar-item is-size-6 has-text-dark" href="{{ link }}">
        {{ title }}
      </a>
      {% endfor %}
      <a class="navbar-item" href="https://github.com/treelym">
        <i class="devicons devicons-github_badge"></i>
      </a>
    </div>
  </div>
</nav>
